/*--------------------------------------------------------------
# Site
--------------------------------------------------------------*/
.site {
  max-width: 2560px;
  margin: 0 auto;
}

.site-main {
  background-color: var(--bg-base);
}

.site-main > .container {
  max-width: var(--max-width-base);
  margin: 0 auto;
  padding: 3rem 20px;
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/

.site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg-base);
  border-bottom: 1px solid var(--border-base);
}

/* Navbar
  --------------------------------------------- */

.site-header .navbar .container {
  position: relative;
  max-width: var(--max-width-full);
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .navbar a {
  height: calc(40px + 1rem);
  display: flex;
  align-items: center;
}

/* Site Title */

/* .site-header .navbar .site-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.site-header .navbar .site-title a::before {
  content: url(../svg/logo-entropia-black.svg);
  width: 1.953rem;
  height: auto;
  margin-right: 0.75rem;
}

/* Main Menu */

#main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#main-menu > li a {
  padding: 0 0.75rem;
}

#main-menu > li a:first-child {
  padding-left: 0;
}

@media (max-width: 768px) {
  #main-menu {
    display: none;
  }
}

/* Components */

.site-header .navbar .components {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Panels
  --------------------------------------------- */

.site-header .panel {
  display: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--bg-secondary);
  /* color: var(--text-light); */
}

.site-header .panel.active {
  display: block;
}

.site-header .panel a {
  /* color: #141414; */
}

.site-header .panel > .container {
  max-width: var(--max-width-full);
  margin: 0 auto;
  padding: 1.5rem 20px;
}

.site-header .panel .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
}

/* Search
  --------------------------------------------- */

.header-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .header-search {
    display: none;
  }
}

.header-search input {
  width: 400px;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  background-color: #f5f5f5;
}

.header-search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
# Site Main
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

/* Site Footer Branding
--------------------------------------------- */

.site-footer .brand {
  background-color: var(--bg-base);
  border-top: 1px solid var(--border-base);
  border-bottom: 1px solid var(--border-base);
}

.site-footer .brand__container {
  max-width: var(--max-width-base);
  margin: 0 auto;
  padding: 3rem 20px;
  text-align: center;
}

/* .brand-logo {
  content: url(../assets/logo-entropia.svg);
  display: block;
  width: 85px;
  margin: 0 0 1rem;
} */

.site-footer .site-title h1 {
  font-size: 4.5vw;
  line-height: 100%;
  font-family: 'Takbolo';
  text-transform: uppercase;
}

/* Site Footer Nav
--------------------------------------------- */

.site-footer .nav {
  background-color: var(--bg-base);
}

.site-footer .nav__container {
  max-width: var(--max-width-full);
  margin: 0 auto;
  padding: 1.5rem 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (min-width: 960px) {
  .site-footer .nav__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

.site-footer .nav h4 {
  margin: 0 0 0.5em;
}

.site-footer .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-networks {
  margin-top: 0.5em;
}

/* Site Footer Info
--------------------------------------------- */

.cc {
  background-color: var(--bg-base);
  font-size: 0.8rem;
}

.cc__container {
  max-width: var(--max-width-full);
  margin: 0 auto;
  padding: 10px 20px;
}

/*--------------------------------------------------------------
# Experimets
--------------------------------------------------------------*/

/* Vertical Styles */

@media (min-width: 1280px) {
  .archive .site-main,
  .brand {
    position: relative;
  }

  .archive .site-main > .container {
    padding: 3rem 20px;
  }

  .archive .site-main::before,
  .brand::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(40px + 1rem);
    height: 100%;
    border-right: 1px solid var(--border-base);
    z-index: 0;
  }

  /* .results-count__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .results-count .facetwp-facet-results_count {
    position: sticky;
    top: calc(3rem + 20px);
    padding: 3rem 20px;
    writing-mode: vertical-lr;
    font-size: var(--font-size-md);
  } */
}

/*--------------------------------------------------------------
# Products Block
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Details / Summary
--------------------------------------------------------------*/

/* Details / Summary */

summary {
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

summary ::selection,
summary ::-moz-selection {
  background-color: transparent;
}

summary:before {
  content: '';
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

.facetwp-facet-results_count {
  font-size: var(--font-size-sm);
  margin-bottom: 1.5rem;
}

.facetwp-facet-load_more {
  margin: 3rem auto;
  max-width: 320px;
}

.facetwp-load-more {
  background-color: transparent;
  border: 1px solid var(--border-default);
  width: 100%;
}

/* Page */

/*--------------------------------------------------------------
# Experimets
--------------------------------------------------------------*/

/* Vertical Styles */

.page-template-default .site-main {
  position: relative;
}

@media (min-width: 1280px) {
  .page-template-default .site-main > .container {
    padding: 3rem 20px 3rem calc(3rem + 40px);
  }

  .page-template-default .site-main::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(3rem + 20px);
    height: 100%;
    border-right: 1px solid var(--border-base);
    z-index: 0;
  }
}

@media (min-width: 768px) {
  .page-template-default article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

.page-template-default .entry-header .entry-title {
  font-size: var(--font-size-xl);
  margin-bottom: 1.5rem;
}

img.perfmatters-lazy {
  background: url(../svg/oval.svg) no-repeat 50% 50%;
}

/* Modal */

.modal {
  display: none;
  /* align-items: center;
  justify-content: center; */
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.modal[open] {
  display: block;
}

.search.modal > .container {
  background-color: var(--bg-base);
  max-width: 2560px;
  padding: 0 20px;
  margin: 0 auto;
  height: calc(40px + 1rem);
  display: flex;
  align-items: center;
}

.search.modal .search-form {
  flex-grow: 1;
  margin-right: 0.75rem;
}

.search.modal .search-form input {
  width: 100%;
  border: none;
}

.search.modal .search-form input:focus {
  outline: none;
}

#modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;
  opacity: 0.75;
}

