/*--------------------------------------------------------------
# Site
--------------------------------------------------------------*/
.site {
  max-width: 2560px;
  margin: 0 auto;
}

.site-main {
  background-color: var(--bg-default);
}

.site-main > .container {
  max-width: var(--max-width-default);
  margin: 0 auto;
  padding: 3rem 20px;
}

/*--------------------------------------------------------------
# Site Main
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

/* Site Footer Branding
--------------------------------------------- */

.site-footer .brand {
  background-color: var(--bg-default);
  border-top: 1px solid var(--border-default);
  border-bottom: 1px solid var(--border-default);
}

.site-footer .brand__container {
  max-width: var(--max-width-default);
  margin: 0 auto;
  padding: 3rem 20px;
  text-align: center;
}

/* .brand-logo {
  content: url(../assets/logo-entropia.svg);
  display: block;
  width: 85px;
  margin: 0 0 1rem;
} */

.site-footer .site-title h1 {
  font-size: 4.5vw;
  line-height: 1;
  font-family: 'Takbolo';
}

/* Site Footer Nav
--------------------------------------------- */

.site-footer .nav {
  background-color: var(--bg-default);
}

.site-footer .nav__container {
  max-width: var(--max-width-xl);
  margin: 0 auto;
  padding: 1.5rem 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (min-width: 960px) {
  .site-footer .nav__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

.site-footer .nav h4 {
  margin: 0 0 0.5em;
}

.site-footer .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-networks {
  margin-top: 0.5em;
}

/* Site Footer Info
--------------------------------------------- */

.cc {
  background-color: var(--bg-default);
  font-size: 0.8rem;
}

.cc__container {
  max-width: var(--max-width-xl);
  margin: 0 auto;
  padding: 10px 20px;
}



/*--------------------------------------------------------------
# Cart
--------------------------------------------------------------*/

/* Shop Table
--------------------------------------------- */

@media screen and (max-width: 839px) {
  .woocommerce-cart-form__cart-item {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: 840px) {
  .woocommerce-cart-form th {
    padding: 0.5em 0;
  }

  .woocommerce-cart-form__cart-item > td {
    padding: 0.5em 0;
    border-top: 1px solid #ccc;
  }
}

.quantity input {
  color: #000;
  border: none;
  border-radius: none;
  padding: 0;
}

.woocommerce-cart-form__cart-actions {
  display: block;
  margin-top: 1.5em;
}

.woocommerce-cart-form__cart-actions .coupon {
  margin-bottom: 1em;
}

.woocommerce-cart-form__cart-actions .coupon > input {
  margin: 0 0.5em 1em 0;
}

.cart-collaterals {
  margin-top: 2em;
  border-top: 1px dashed #ccc;
}

.cart_totals tr {
  display: block;
}

.cart_totals th::after {
  content: ':\00a0';
}

ul#shipping_method {
  list-style: none;
  margin: 0;
  padding: 0;
}

.woocommerce-shipping-destination {
  margin: 0;
}

.shipping-calculator-button {
  display: block;
  margin: 0.5em 0 1em;
  text-decoration: underline;
  text-decoration-color: #02f0d8;
}

.order-total {
  margin-top: 1em;
}

.checkout-button {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #02f0d8;
}

.checkout-button i {
  font-feature-settings: 'ss03' 1;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  margin-left: 0.5em;
}

/*--------------------------------------------------------------
# Checkout
--------------------------------------------------------------*/

.woocommerce-NoticeGroup ul {
  list-style-type: '– ';
  margin: 0;
  padding: 0 1em;
}

#customer_details {
  margin: 0 0 2.5em;
}

#order_review thead {
  display: none;
}

#order_review tr {
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

#order_review th,
#order_review td {
  display: block;
  text-align: left;
  padding: 0;
}

#order_review .product-quantity {
  font-weight: normal;
}

#payment ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

form.checkout {
  margin: 1.5em 0;
}

.order-review__wrapper__inner {
  border-top: 1px dashed #ccc;
}

.cat {
  content: url('../assets/cat.svg');
  display: block;
  width: 200px;
  margin: 1.5em 0;
}

/*--------------------------------------------------------------
# Common Styles
--------------------------------------------------------------*/

/* .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
} */

.section-header__title {
  margin-bottom: 1.5rem;
}

/*--------------------------------------------------------------
# Experimets
--------------------------------------------------------------*/

.block-header .headline {
  margin-bottom: 1.5rem;
}

/* Vertical Styles */

@media (min-width: 1280px) {
  .archive .site-main,
  .single-product div.product .main,
  .audio-player,
  .single-product .upsells,
  .single-product .related,
  .brand {
    position: relative;
  }

  .archive .site-main > .container,
  .single-product div.product .main > .container,
  .single-product .upsells > .container,
  .single-product .related > .container {
    padding: 3rem 20px 3rem calc(3rem + 40px);
  }

 


  .archive .site-main::before,
  .single-product div.product .main::before,
  .audio-player::before,
  .single-product .upsells::before,
  .single-product .related::before,
  .brand::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(3rem + 20px);
    height: 100%;
    border-right: 1px solid var(--border-default);
    z-index: 0;
  }

  .block-header,
  .results-count__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .block-header .headline,
  .results-count .facetwp-facet-results_count {
    position: sticky;
    top: calc(3rem + 20px);
    padding: 3rem 20px;
    writing-mode: vertical-lr;
  }
}

/* Details / Summary */

summary {
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

summary ::selection,
summary ::-moz-selection {
  background-color: transparent;
}

summary:before {
  content: '';
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

.facetwp-type-pager {
  margin: 3rem auto;
  max-width: 480px;
}

.facetwp-load-more {
  background-color: transparent;
  border: 1px solid var(--border-default);
  width: 100%;
}

.woocommerce-product-details__short-description .read-more {
  cursor: pointer;
}
.woocommerce-product-details__short-description .read-more:before {
  content: 'Read more';
}
.woocommerce-product-details__short-description.active .read-more:before {
  content: 'Read less';
}

/*--------------------------------------------------------------
# Common Styles
--------------------------------------------------------------*/

.spotlight {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* list-style: none; */
  padding: 0;
  z-index: 1;
}

.spotlight > .container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0px, 0, 0);
}

.spotlight .slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.left {
  float: left;
  width: 50%;
  height: calc(100vh - calc(3rem + 20px));
}

.left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--border-default);
}

.right {
  float: left;
  width: 50%;
  height: calc(100vh - calc(3rem + 20px));
  background-color: var(--bg-default);
  color: var(--text-default);
  /* border-left: 1px solid var(--border-primary); */
}

.right .container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 768px;
  margin: 0 auto;
}

.right .container h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 1.5rem;
}

.spotlight .slide::after {
  content: '';
  display: table;
  clear: both;
}
