/*--------------------------------------------------------------
# Audio Player
--------------------------------------------------------------*/

.audio-player {
  /* position: relative; */
  border-top: 1px solid var(--border-base);
}

.audio-player > .container {
  /* max-width: var(--max-width-default); */
  /* margin: 0 auto; */
  padding: 3rem 0;
}

/* @media (min-width: 1280px) {
  .audio-player::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(40px + 1rem);
    height: 100%;
    border-right: 1px solid var(--border-default);
    z-index: 0;
  }
  .audio-player > .container {
    padding: 3rem 20px 3rem calc(40px + 1rem);
  }
} */

.audio-player-play-time,
.audio-player-duration {
  display: none;
}

.audio-player-play-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.85rem;
}

.audio-player-timebar {
  position: relative;
  display: flex;
  align-items: center;
  height: 15px;
  cursor: pointer;
  margin: 0.75rem 0;
}

.audio-player-timebar::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  top: 7px;
  left: 0;
  background-color: var(--bg-dark);
}

.audio-player-progress {
  position: relative;
  height: 4px;
  width: 0%;
  background-color: var(--bg-accent);
}

.audio-player .audio-player-play-btn .icon::after {
  font-size: var(--font-size-xl);
  content: '\e034';
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.audio-player.audio-player-paused .audio-player-play-btn .icon::after {
  content: '\e037';
}

.audio-player-play-btn {
  font-size: var(--font-size-md);
}

.audio-track {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.audio-track:not(:last-child) .icon {
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
}

.audio-track:not(:last-child) .audio-track-name {
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--border-base);
}

.audio-track:not(:last-child) .audio-track-length {
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
}

.audio-track:hover {
  cursor: pointer;
  color: var(--text-accent);
}

.audio-track .icon::after {
  font-size: var(--font-size-md);
  content: '\e037';
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.audio-track.audio-track-selected .icon::after {
  content: '\e034';
}

.audio-player-paused .audio-track.audio-track-selected .icon::after {
  content: '\e037';
}

.audio-track.audio-track-selected {
  color: var(--text-accent);
}

.audio-player-paused .audio-track.audio-track-selected {
  color: var(--text-base);
}

.audio-player-paused .audio-track.audio-track-selected:hover {
  color: var(--text-accent);
}

.audio-track-name {
  flex-grow: 1;
}

