/*--------------------------------------------------------------
# Cart
--------------------------------------------------------------*/

/* Cart Form
--------------------------------------------- */

.woocommerce-cart-form table {
  border-collapse: collapse;
}

@media (max-width: 767px) {
  .woocommerce-cart-form table thead {
    display: none;
  }

  .woocommerce-cart-form table tbody tr {
    display: block;
    padding: 0.5rem 0;
    border-top: 1px solid var(--border-default);
  }

  .woocommerce-cart-form table tbody tr td {
    display: block;
  }

  .woocommerce-cart-form table tbody tr td.product-price::before,
  .woocommerce-cart-form table tbody tr td.product-subtotal::before {
    content: attr(data-title) ':\00a0';
  }
}

@media (min-width: 768px) {
  .woocommerce-cart-form table thead {
    display: table-header-group;
  }

  .woocommerce-cart-form table thead tr th {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
  }

  .woocommerce-cart-form table tbody tr td:not(.actions) {
    display: table-cell;
    vertical-align: top;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid var(--border-default);
  }

  .woocommerce-cart-form table tbody tr td:not(:last-child) {
    padding-right: 1rem;
  }

  .woocommerce-cart-form table tbody tr td.product-name {
    width: 75%;
  }
}

.woocommerce-cart-form__cart-actions {
  display: block;
  margin-top: 1.5em;
}

.woocommerce-cart-form__cart-actions .coupon {
  margin-bottom: 0.75rem;
}

/* Cart Totals
--------------------------------------------- */

.cart_totals {
  margin-top: 3rem;
}

.cart_totals h2 {
  font-size: var(--font-size-md);
  margin-bottom: 1.5rem;
}

.cart_totals table {
  border-collapse: collapse;
}

.cart_totals table tbody th::after {
  content: ':\00a0';
}

.cart_totals table tbody tr {
  display: block;
}

.cart_totals table tbody tr th {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

.cart_totals ul.woocommerce-shipping-methods {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart_totals .woocommerce-shipping-destination {
  margin: 0;
}

.cart_totals .woocommerce-shipping-calculator {
  margin-bottom: 1.5rem;
}

.cart_totals .shipping-calculator-button {
  display: block;
  padding-bottom: 0.75rem;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  text-decoration-color: var(--border-default);
}

.cart_totals .shipping-calculator-form p {
  margin-bottom: 0.5rem;
}

.cart_totals .wc-proceed-to-checkout {
  margin-top: 1.5rem;
}
