.facetwp-overlay {
  position: absolute;
}

.facetwp-pager-label {
  display: inline-block;
  margin-right: 12px;
}

.facetwp-page {
  display: inline-block;
  padding: 0px 4px;
  margin-right: 6px;
  cursor: pointer;
}

.facetwp-page.dots {
  cursor: default;
}

.facetwp-page.active {
  font-weight: bold;
  cursor: default;
}

/* fSelect */

.facetwp-type-fselect.is-loading {
  opacity: 1; /* prevent stack order issues */
}

.facetwp-type-fselect.is-loading .fs-label-wrap,
.facetwp-type-fselect.is-loading .fs-search,
.facetwp-type-fselect.is-loading .fs-no-results,
.facetwp-type-fselect.is-loading .fs-options {
  opacity: 0.6;
}

.facetwp-type-fselect.is-loading .fs-option {
  cursor: wait;
}

.facetwp-type-fselect .fs-wrap.fs-disabled .fs-option {
  opacity: 0.4;
  cursor: wait;
}

.facetwp-type-fselect .fs-option .fs-option-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.facetwp-type-fselect .fs-option.d1 .fs-option-label {
  padding-left: 20px;
}

.facetwp-type-fselect .fs-option.d2 .fs-option-label {
  padding-left: 40px;
}

.facetwp-type-fselect .fs-option.d3 .fs-option-label {
  padding-left: 60px;
}

/* Hierarchy */

.facetwp-depth {
  margin-left: 12px;
}

.facetwp-link {
  cursor: pointer;
}

.facetwp-link.checked {
  font-weight: var(--font-weight-bold);
  cursor: default;
}

.facetwp-toggle {
  cursor: pointer;
}

.facetwp-hidden {
  display: none;
}

/* fSelect / Custom */

.facets > .container {
  margin: 1.5rem 0;
}

@media (max-width: 719px) {
  .facets .facetwp-type-fselect {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 720px) {
  .facets > .container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
}

.facets > .reset {
  margin: 1.5rem 0;
}

.fs-wrap {
  width: 100%;
  /* display: inline-block; */
  position: relative;
  cursor: pointer;
}

.fs-label-wrap {
  /* position: relative; */
  /* cursor: default; */

  display: flex;
  justify-content: space-between;
}

.fs-label-wrap,
.fs-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fs-label {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--border-base);
  border-bottom: 1px solid var(--border-base);
  border-left: 1px solid var(--border-base);
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fs-arrow {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.fs-arrow::after {
  font-family: 'Material';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  height: 100%;
  display: flex;
  align-items: center;
  -moz-font-feature-settings: 'liga';
  transition: ease-in-out 0.1s;
  content: '\e5db';
  padding: 0 0.5rem;
}

.fs-open .fs-arrow::after {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.fs-dropdown {
  margin: 0.75rem 0;
  width: 100%;
  min-width: 250px;
  position: absolute;
  background-color: var(--bg-base);
  border: 1px solid var(--border-base);
  z-index: 1000;
}

.fs-dropdown .fs-options {
  max-height: 50vh;
  overflow: auto;
}

.fs-search {
  background-color: var(--bg-light);
  padding: 0 8px;
}

.fs-wrap .fs-search input {
  border: none;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  width: 100%;
}

.fs-option {
  padding: 0 1rem;
  cursor: default;
  cursor: pointer;
  word-break: break-all;
}

.fs-option:first-child {
  padding-top: 1rem;
}

.fs-option:last-child {
  padding-bottom: 1rem;
}

.fs-no-results {
  padding: 0.5em 10px;
}

.fs-option.disabled {
  opacity: 0.4;
  cursor: default;
}

.fs-option.selected {
  color: var(--text-accent);
}

.fs-wrap.multiple .fs-option {
  /* position: relative; */
}

.fs-wrap.multiple .fs-checkbox {
  display: none;
}

.fs-optgroup-label {
  font-weight: bold;
  text-align: center;
  background-color: #f8f8f8;
}

.fs-hidden {
  display: none;
}
