/* .facets {
  margin-bottom: 1.5em;
}

.facets > .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 1em;
}

@media (min-width: 480px) {
  .facets > .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .facets > .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.facets-reset {
  display: flex;
  justify-content: end;
}

.facetwp-reset-button {
  text-decoration: underline;
  text-decoration-color: #02f0d8;
} */

/* .facetwp-facet.is-loading {
  opacity: 0.6;
} */

.facetwp-overlay {
  position: absolute;
}

.facetwp-pager-label {
  display: inline-block;
  margin-right: 12px;
}

.facetwp-page {
  display: inline-block;
  padding: 0px 4px;
  margin-right: 6px;
  cursor: pointer;
}

.facetwp-page.dots {
  cursor: default;
}

.facetwp-page.active {
  font-weight: bold;
  cursor: default;
}

/* Checkboxes */

.facetwp-type-checkboxes .facetwp-depth {
  display: none;
}

.facetwp-type-checkboxes .facetwp-depth.visible {
  display: inherit;
}

.facetwp-checkbox {
  background: url("../images/checkbox.png") 0 50% no-repeat;
  background-size: 14px 14px;
  margin-bottom: 4px;
  padding-left: 20px;
  cursor: pointer;
}

.facetwp-checkbox.checked {
  background-image: url("../images/checkbox-on.png");
}

.facetwp-checkbox.disabled,
.facetwp-radio.disabled {
  opacity: 0.4;
  cursor: default;
}

.facetwp-checkbox .facetwp-expand {
  float: right;
}

/* fSelect */

.facetwp-type-fselect.is-loading {
  opacity: 1; /* prevent stack order issues */
}

.facetwp-type-fselect.is-loading .fs-label-wrap,
.facetwp-type-fselect.is-loading .fs-search,
.facetwp-type-fselect.is-loading .fs-no-results,
.facetwp-type-fselect.is-loading .fs-options {
  opacity: 0.6;
}

.facetwp-type-fselect.is-loading .fs-option {
  cursor: wait;
}

.facetwp-type-fselect .fs-wrap.fs-disabled .fs-option {
  opacity: 0.4;
  cursor: wait;
}

.facetwp-type-fselect .fs-option .fs-option-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.facetwp-type-fselect .fs-option.d1 .fs-option-label {
  padding-left: 20px;
}

.facetwp-type-fselect .fs-option.d2 .fs-option-label {
  padding-left: 40px;
}

.facetwp-type-fselect .fs-option.d3 .fs-option-label {
  padding-left: 60px;
}

/* Hierarchy */

.facetwp-depth {
  margin-left: 12px;
}

.facetwp-link {
  cursor: pointer;
}

.facetwp-link.checked {
  font-weight: bold;
  cursor: default;
}

.facetwp-toggle {
  cursor: pointer;
}

.facetwp-hidden {
  display: none;
}

/* fSelect / Custom */



.facets > .container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin: 1.5rem 0;
}

.facets > .reset {
  margin: 1.5rem 0;
}

.fs-wrap {
  width: 100%;
  /* display: inline-block; */
  position: relative;
  cursor: pointer;
}

.fs-label-wrap {
  /* position: relative;
  cursor: default;
  border: 1px solid var(--border-primary);
  border-radius: var(--base-border-radius); */
  display: flex;
  gap: 0.25rem;
  
}

.fs-label-wrap,
.fs-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .fs-label-wrap .fs-label {
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

/* .fs-arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 5px 0 20px;
} */

.fs-arrow {
  line-height: 1;
  font-size: var(--font-size-md);
}

.fs-arrow::after {
  font-family: "Material";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  -moz-font-feature-settings: "liga";
  content: "\e5cf";
  vertical-align: middle;
  /* transition: ease-in-out 0.1s; */
}

.fs-open .fs-arrow::after {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.fs-dropdown {
  margin: 0.5rem -1rem;
  width: 100%;
  min-width: 250px;
  position: absolute;
  background-color: var(--bg-default);
  border: 1px solid var(--border-default);
  z-index: 1000;
}

.fs-dropdown .fs-options {
  max-height: 50vh;
  overflow: auto;
}

.fs-search {
  background-color: var(--bg-light);
  padding: 0 8px;
}

.fs-wrap .fs-search input {
  border: none;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  width: 100%;
}

.fs-option {
  padding: 0 1rem;
  cursor: default;
  cursor: pointer;
  word-break: break-all;
}

.fs-option:first-child {
  padding-top: 1rem;
}

.fs-option:last-child {
  padding-bottom: 1rem;
}


.fs-no-results {
  padding: 0.5em 10px;
}



.fs-option.disabled {
  opacity: 0.4;
  cursor: default;
}

.fs-option.selected {
 color: var(--text-accent);
}

.fs-wrap.multiple .fs-option {
  /* position: relative; */
}

.fs-wrap.multiple .fs-checkbox {
  display: none;
}



.fs-optgroup-label {
  font-weight: bold;
  text-align: center;
  background-color: #f8f8f8;
}

.fs-hidden {
  display: none;
}
