/*--------------------------------------------------------------
# Spotlight
--------------------------------------------------------------*/

.spotlight {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0;
}



.spotlight .slide {
  flex-shrink: 0;
  width: 100%;
  /* height: 100%; */
  position: relative;
  transition-property: transform;
}



.spotlight .left-area {
  height: 50vh;
}

.spotlight img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.spotlight .right-area {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

@media (min-width: 768px) {
  .spotlight .left-area {
    float: left;
    width: 50%;
    height: calc(100vh - calc(40px + 1rem));
  }
  .spotlight .right-area {
    float: left;
    width: 50%;
    height: calc(100vh - calc(40px + 1rem));
    background-color: var(--bg-dark);
    color: var(--text-light);
  }
  .spotlight .slide::after {
    content: '';
    display: table;
    clear: both;
  }
}

.spotlight .right-area > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 768px;
  margin: 0 auto;
}

.spotlight .title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1.5rem;
}

.spotlight a {
  color: var(--text-light);
}


.spotlight .navigation {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spotlight .navigation .icon {
  position: relative;
  z-index: 2;
  margin: 20px;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-size: var(--icon-lg);
  cursor: pointer;
}

.spotlight .navigation .prev:after {
  content: '\e5c4';
}

.spotlight .navigation .next:after {
  content: '\e5c8';
}

.spotlight .navigation .swiper-button-disabled {
  opacity: 0.25;
  cursor: auto;
  pointer-events: none;
}