/*--------------------------------------------------------------
# Audio Player
--------------------------------------------------------------*/

.audio-player {
  margin: 1.5rem 0;
}

.audio-player-play-time,
.audio-player-duration {
  display: none;
}

.audio-player-play-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin-bottom: 0.5rem; */
}

.audio-player-timebar {
  position: relative;
  display: flex;
  align-items: center;
  height: 15px;
  cursor: pointer;
  margin-bottom: 0.25rem;
}

.audio-player-timebar::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: 7px;
  left: 0;
  background-color: var(--border-primary);
}

.audio-player-progress {
  position: relative;
  height: 4px;
  width: 0%;
  background-color: var(--border-primary);
}

.audio-player .audio-player-play-btn .icon::after {
  font-size: var(--font-size-xl);
  margin-left: -0.25rem;
  content: '\e034';
}

.audio-player.audio-player-paused .audio-player-play-btn .icon::after {
  content: '\e037';
}

.audio-player-play-btn {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.audio-track {
  display: flex;
  gap: 1rem;
  color: var(--text-primary);
  /* padding: 0.25rem 0; */
}

/* .audio-track:not(:last-of-type) {
  border-bottom: 1px solid var(--border-primary);
} */

.audio-track:hover {
  cursor: pointer;
  color: var(--text-success);
}

.audio-track .icon::after {
  font-size: var(--font-size-md);
  content: '\e037';
}

.audio-track.audio-track-selected .icon::after {
  content: '\e034';
}

.audio-player-paused .audio-track.audio-track-selected .icon::after {
  content: '\e037';
}

.audio-track.audio-track-selected {
  color: var(--text-success);
}

.audio-player-paused .audio-track.audio-track-selected {
  color: var(--text-primary);
}

.audio-player-paused .audio-track.audio-track-selected:hover {
  color: var(--text-success);
}

.audio-track-name {
  flex-grow: 1;
}

.audio-track-length {
  font-size: var(--font-size-sm);
}
