/* Product Gallery
  --------------------------------------------- */

@media (min-width: 960px) {
  .product-gallery {
    float: left;
    width: 65%;
    border-right: 1px solid var(--border-default);
    position: sticky;
    top: calc(40px + 1rem + 1px);
  }
}

.product-gallery {
  background-color: var(--bg-secondary);
  overflow: hidden;
}

@media (max-width: 767px) {
  .product-gallery {
    position: relative;
  }
}

.product-gallery .slider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
}

@media (min-width: 768px) {
  .product-gallery > .container {
    height: calc(100vh - calc(40px + 1rem));
    padding: 3.5vw;
  }
  .product-gallery .swiper-slide {
    display: flex;
    align-items: center;
  }
  .product-gallery img {
    max-height: calc(100vh - 17vw);
    width: auto;
    margin: 0 auto;
  }
}

.product-gallery .slider .swiper-pagination-fraction {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

@media screen and (max-width: 959px) {
  .product-gallery .navigation .prev,
  .product-gallery .navigation .next {
    display: none;
  }
}

.product-gallery .navigation .prev,
.product-gallery .navigation .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 0.5s;
}

.product-gallery .navigation .prev {
  left: 0;
}

.product-gallery .navigation .next {
  left: 50%;
}

.product-gallery .navigation .cursor-area {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: none;
}

.product-gallery .navigation .icon {
  display: none;
  pointer-events: none;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-size: var(--font-size-xl);
}

.product-gallery .navigation .prev .icon::after {
  content: '\e5c4';
}

.product-gallery .navigation .next .icon::after {
  content: '\e5c8';
}

.product-gallery .navigation .swiper-button-disabled {
  opacity: 0.25;
}
