/*--------------------------------------------------------------
# Product Main
--------------------------------------------------------------*/

.single-product .site-main > .product .main {
  position: relative;
  background-color: var(--bg-default);
}

.single-product .site-main > .product .main > .container {
  /* max-width: var(--max-width-default); */
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 960px) {
  .single-product .site-main > .product .main > .container::after {
    content: '';
    display: table;
    clear: both;
  }
}

/* @ product-gallery.css
  --------------------------------------------- */

/* Product Summary
  --------------------------------------------- */

.product .summary {
  padding: 0 20px;
  margin: 3rem 0;
}

@media (min-width: 960px) {
  .product .summary {
    float: left;
    width: 50%;
  }
}

/* Product Header */

.product-header {
  margin: 1.5rem 0;
}

.product-header .breadcrumb {
  margin-bottom: 1.5rem;
}

.product-header .artist {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-md);
}

.product-header .product-title {
  font-size: var(--font-size-xl);
}

.product-header .preorder-item,
.product-header .used-item {
  display: block;
  margin: 1.5rem 0;
}

/* Product Quantity - Stock */

.single-product .quantity,
.stock {
  display: none !important;
}

/* Product Cart */

.product-cart {
  margin: 2rem 0;
}

.product-cart .price {
  font-size: var(--font-size-md);
}

/* Product Variations */

.variations_form tr {
  display: block;
  margin-bottom: 0.75rem;
}

.variations_form tr:last-child {
  margin-bottom: 1.5rem;
}

.variations_form th {
  display: block;
  text-align: left;
  font-weight: normal;
  margin-bottom: 0.25rem;
}

.variations_form td {
  display: block;
}

.variations_form td select {
  max-width: 320px;
}

.reset_variations {
  margin-top: 0.75rem;
}

.woocommerce-variation-price {
  margin: 1.5rem 0;
}

/* Product Description */

.woocommerce-product-details__short-description {
  margin: 1.5rem 0;
}

/* DotDotDot */

.woocommerce-product-details__short-description .read-more {
  cursor: pointer;
}
.woocommerce-product-details__short-description .read-more:before {
  content: 'Read more';
}
.woocommerce-product-details__short-description.active .read-more:before {
  content: 'Read less';
}

/*--------------------------------------------------------------
# @ audio-player.css
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Related + Upsells
--------------------------------------------------------------*/

.single-product .related,
.single-product .upsells {
  position: relative;
  background-color: var(--bg-default);
  border-top: 1px solid var(--border-default);
}

.single-product .related > .container,
.single-product .upsells > .container {
  max-width: var(--max-width-default);
  margin: 0 auto;
  padding: 3rem 20px;
}

@media (min-width: 1280px) {
  .single-product .upsells::before,
  .single-product .related::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(40px + 1rem);
    height: 100%;
    border-right: 1px solid var(--border-default);
    z-index: 0;
  }

  .single-product .upsells > .container,
  .single-product .related > .container {
    padding: 3rem 20px;
  }
}
